@import "node_modules/ol/ol.css";

body{
  background: #4ec5ad;
  font-family: ubuntu;
}

h1{
  color: #121212;
  font-size: 7vh;
  letter-spacing: 0.2vh;
  margin-top: 2vh;
  margin-bottom: 0vh;
  text-align: center;
}

h2{
  color: #121212;
  text-align: center;
  font-size: 3.6vh;
  margin-top: 2vh;
}

.selector{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 48vh;
  margin: 3vh auto;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.box{
  border:0.1vh solid #d9d9d9;
  height:4.1vh;
  overflow: hidden;
  width: 23vh;
  position:relative;
}

select {
  border: none;
  font-size: 2.6vh;
  height: 4.1vh;
  padding: 0.5vh;
  width: 25vh;
}
select:focus{ outline: none;}

.box::after{
	content:"\025be";
	display:table-cell;
	padding-top:0.8vh;
	text-align:center;
	width:3vh;
	height:4.1vh;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}

#main {
  display: flex;
}

#map {
  height: 73vh;
  width: 70%;
}

#info {
  margin-bottom: 1vh;
  font-size: 2.8vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-left: 1vh;
  width: 30%
}
